html, body {
    font-family: 'Literata', serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

#admin, #cart {
    display: flex;
    justify-content: center;
    width: 3em;
    height: 3em;
    text-align: center;
}

/* #admin:hover, #cart:hover {
    box-shadow: 2px 2px 6px rgba(26, 22, 1, 0.5);
    border-radius: 2px;
    transition-duration: .9s;
} */


#home, .menu-btns, img, a{
    cursor: pointer;
}

.nav-link {
    font-size: 1.5em;
}

.navigation {
    background-color: rgba(12, 149, 7, 0.02);
}

.menu-btns {
    position: absolute;
    right: 2em;
    margin: .5em 0;
}

li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    color: rgba(230, 152, 51, 0.808);
    transition-duration: .5s;
}

button:focus, input:focus {
    outline-style: none
}



.add-value {
    border: none;
    margin-left: 0%;
}

hr {
    background-color: rgba(230, 152, 51, 0.808);
    margin-right: 80%;
    height: .5em;
    border-radius: .5em;
}

.fa-shopping-cart:hover, .fa-user-shield:hover {
    color: rgb(93, 93, 93);
}

#counter {
    position: absolute;
    bottom: 2.5em;
    left: 8em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    background-color: rgba(230, 152, 51, 0.808);
    font-size: 10px;
    text-align: center;
}

.fa-arrow-circle-left, .fa-arrow-circle-right {
    color: gray;
}

.fa-arrow-circle-left:hover, .fa-arrow-circle-right:hover {
    color: rgba(230, 152, 51, 0.808);
    transition-duration: .4s;
}

.quantityTd input {
    margin-left: 0;
    width: 1.3em;
    border: none;
    text-align: center!important;
    background-color: white;
}

.fa-times {
    color: tomato;
}

th, td {
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.192);
}

a, a:hover, a:visited {
    color: black;
    text-decoration: none;
}

#cart-table>table {
    margin: 3em 5vw 0 5vw;
    width: 90vw;
    border-collapse: collapse;
}

.add-value {
    border-radius: 50%;
}

.menu-btns button {
    background-color: transparent;
    height: 2em;
    width: 4em;
}

hr {
    background-color: #DFAB00;
    margin-right: 95%;
    height: .5em;
    border-radius: .5em;
}

#title {
    margin: 3vw 0 0 5vw;
}

#checkout-table {
    width: 30vw;
}

#checkoutBtn {
    border: none;
    width: 30vw;
    background-color: rgb(223, 171, 0);
}

#checkingout {
    width: 30vw;
    margin: 4em 5vw 0 65vw;
    border-collapse: collapse;
    float: left;
}

#checkoutBtn:hover {
    background-color: rgba(216, 176, 45, 0.829);
    /* box-shadow: 1px 1px 4px rgba(223, 171, 0, 0.842); */
    transition-duration: 500ms;
}

@media (max-width: 575.98px) and (min-width: 300px) {
    .menu-btns {
        position: absolute;
        top: 1em;
        right: 1em;
    }
    .nav-link {
        font-size: 15px;
        margin-bottom: .5em;
    }
    .title {
        margin-left: 1em;
    }
    #admin {
        width: 2em;
    }
    /* #counter {
        left: 5em;
        margin-bottom: -.5em;
        
    } */

    #checkout-table {
        width: 40vw;
    }

    #checkoutBtn {
        width: 40vw;
    }
    
    #checkingout {
        width: 40vw;
        margin: 4em 5vw 0 55vw;
    }
}

@media screen and (max-width:576px) {
    #name {
        text-align: left;
    }
    body {
        font-size: 12px;
    }
    .image {
        display: none;
    }
    .add-value {
        width: 1em;
        height: 1em;
        background-color: transparent;
        border: none;
        margin-top: 2em!important;
    }
    .quantityTd {
        width: 3em!important;
    }
    .shipping {
        font-size: 13px;
    }
    #counter{
        left: 4.7em;
        bottom: 2em;
    }
   
}

@media screen and (max-width:770px) {
    hr {
        width: 4em;
        height: .3em;
        border-radius: 6px;
        position: absolute;
    }
    
}